@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hero-cta {
  a {
    color: #fff;
    text-decoration: none;
  }
}
.section-video {
  @media (min-width: 1024px) {
    width: 550px;
    height: 372px;
  }
  video {
    width: 100%;
    border-radius: 32px;
    height: auto;
  }
}
