@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hero-cta {
  a {
    color: #fff;
    text-decoration: none;
  }
}
.section-video {
  @media (min-width: 1024px) {
    width: 550px;
    height: 372px;
  }
  video {
    width: 100%;
    height: auto;
    border-radius: 32px;
  }
}

.slick-dots {
  position: absolute;
  top: 350px;
  left: 466px;
  display: flex;
  @media (max-width: 768px) {
    top: 450px;
    left: 122px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    top: 400px;
    left: 298px;
  }
  li {
    list-style: none;

    button {
      border-radius: 100%;
      margin-right: 10px;
      border: none;
      height: 16px;
      width: 16px;
      text-indent: -9999em;
    }
  }
  li.slick-active {
    list-style: none;

    button {
      border-radius: 100%;
      margin-right: 10px;
      border: none;
      height: 16px;
      width: 16px;
      text-indent: -9999em;
      background-color: #2639ed;
    }
  }
}
//circle

.circle {
  background-image: url('/themes/custom/studio_store/images/Ellipse_86.png');
  background-size: contain;
  background-size: 184px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  width: 348px;
  height: 355px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  object-fit: cover;
  transform-origin: center;
}

//image college
.circle img:nth-child(1) {
  transform: translateX(120px) translateY(0px);
}

.circle img:nth-child(2) {
  transform: translateY(100px);
}

.circle img:nth-child(3) {
  transform: translateY(177px);
}

.circle img:nth-child(4) {
  transform: translateX(64px) translateY(162px);
}

.circle img:nth-child(5) {
  transform: translateX(74px) translateY(70px);
}

.circle img:nth-child(6) {
  transform: translateX(-40px) translateY(-6px);
}

.circle img:nth-child(7) {
  transform: translateX(-190px) translateY(-55px);
}

.circle img:nth-child(8) {
  transform: translateX(-276px) translateY(71px);
}

//hamburger menu
.hamburger {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.bar {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: transform 0.3s ease-out;
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 9px;
}
.bar:nth-child(3) {
  top: 18px;
}

.bar:nth-child(3) {
  bottom: 10;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

//webform
.form-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  position: absolute;
  width: 188px;
  height: 60px;
  background: #2639ed;
  border-radius: 60px;
  border: none;
  color: #fff;
  right: 108px;
  top: -25px;
}
.email-box {
  right: 98px;
  top: -35px;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  width: 479px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
}

///newsletter new styling
.newsletter-main-container {
  margin-left: 20px;
  margin-right: 20px;
  @media (min-width: 1024px) {
    margin-left: 120px;
    margin-right: 120px;
  }
  @media (max-width: 767px) {
    justify-self: normal;
  }
  height: 387px;
  background-image: url('/themes/custom/studio_store/images/Rectangle32.png'),
    url('/themes/custom/studio_store/images/Dot1.png');
  background-repeat: no-repeat;
  background-position-x: left, right;
  background-position-y: bottom, top;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px;
  height: 272px;
  background-image: url('/themes/custom/studio_store/images/Rectangle31.png'),
    url('/themes/custom/studio_store/images/Rectangle30.png');
  background-repeat: no-repeat;
  background-position-x: right, left;
  background-position-y: bottom, top;
  position: relative;
  border-radius: 75px;
  margin-top: 30px;
  @media (max-width: 767px) {
    justify-self: center;
    align-items: center;
    height: 100%;
    margin-bottom: 60px;
  }
}
.newsletter-sub-details {
  margin-left: 40px;
  @media (max-width: 767px) {
    margin-left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
    div {
      color: white;
    }
  }
  @media (max-width: 1440px) {
    position: absolute;
  }
  @media (max-width: 1370px) {
    top: 0;
  }
}

///newsletter new styling

//responsive styling
.header-nav-section {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.herosection-details {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    margin-right: 40px;
    padding-left: 120px;
  }
}
.clientsection {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.help-section {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.great-since {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.great-since-right {
  @media (min-width: 1024px) {
    margin-left: 119px;
  }
}
.happy-client-saying {
  padding: 0 20px;
  @media (min-width: 1024px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.slider-container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    padding-right: 250px;
  }
}
.college {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 66px;
}
.newsletter-section {
  margin-left: 20px;
  margin-right: 20px;
  @media (min-width: 1024px) {
    margin-left: 120px;
    margin-right: 120px;
  }
}
// .email-box {
//   padding: 30px;
//   width: 479px;
//   height: 30px;
//   background: #ffffff;
//   border: 1px solid #f1f1f1;
//   box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
//   border-radius: 60px;

//   @media (max-width: 736px) {
//     border-radius: 50px;
//     height: 30px;
//     width: 242px;
//     margin-top: 90px;
//     margin: 0 auto;
//     padding: 10px;
//     position: relative;
//   }
// }
// .form-submit {
//   top: 16px;
//   right: 130px;
//   padding: 20px 40px;
//   gap: 10px;
//   position: absolute;
//   width: 188px;
//   height: 60px;
//   background: #2639ed;
//   border-radius: 60px;
//   border: none;
//   color: #fff;

//   // @media (max-width: 736px) {
//   //   width: fit-content;
//   //   position: absolute;
//   //   top: 15px;
//   //   right: 20px;
//   // }
// }
// .form-item {
//   position: relative;
//   right: 110px;
// }

//navigation
// .navbar {
//   @media (max-width: 1023px) {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     z-index: 10;
//     background-color: white;
//     li {
//       padding-top: 100px;
//       text-align: center;
//     }
//   }
// }
.hamburger.open {
  position: fixed;
  z-index: 999;
  right: 20px;
}
.right-side {
  margin-top: 131px;
}

//footer menu
.footer-menu {
  width: 81%;
  ul {
    list-style: none;
    padding: 0;
    li a {
      margin-top: 0;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
      color: #000000;
    }
  }
  @media (max-width: 1023px) {
    width: 100%;
  }
  h2 {
    margin-top: 0;
  }
}
.footer-details {
  margin-right: 191px;
  width: 30%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
  @media (max-width: 1023px) {
    width: 100%;
    margin-bottom: 29px;
  }
}
.footer-main {
  height: fit-content;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 63px;
  padding-bottom: 29px;
  margin: 0 20px;
  @media (min-width: 1024px) {
    margin-left: 120px;
    margin-right: 120px;
  }
}
.copyright-section {
  color: #a4a4a4;
}
.footer-desc {
  margin-top: 26px;
  margin-bottom: 40px;
}
// .brand-logos {
//   margin-right: 60px;
// }
.brand-logos-container img {
  margin-right: 20px;
  @media (min-width: 1024px) {
    margin-right: 60px;
  }
}

.brand-logos-container img:last-child {
  margin-right: 0px;
  margin-top: 14px;
}
.client-body {
  width: 318px;
  @media (max-width: 1023px) {
    width: 100%;
  }
}
.client-title {
  @media (max-width: 1023px) {
    text-align: center;
  }
}
.client-right {
  @media (min-width: 1024px) {
    margin-right: 120px;
  }
}
//testing out------------------

.form-email {
  @media (max-width: 767px) {
    width: 237px;
    height: 52px;
    top: 50px;
    bottom: auto;
    position: absolute;
    left: -268px;
    padding: 10px;
  }
}
.form-email::placeholder {
  @media (max-width: 767px) {
    font-size: 10px;
  }
}
.submit-btn {
  @media (max-width: 767px) {
    font-size: 10px;
    padding: 5px;
    height: 40px;
    bottom: 0px;
    top: 56px;
    right: 38px;
    width: 81px;
  }
}
// .newsletter-sub-details {
//   @media (max-width: 1440px) {
//     position: absolute !important;
//   }
//   @media (max-width: 1370px) {
//     top: 0;
//   }
// }

.newsletter-sub-webform {
  top: 160px;
  @media (max-width: 1440px) {
    position: absolute;
    right: 0;
    bottom: 70px;
  }
  @media (max-width: 1370px) {
    top: 185px;
  }
}

//adding background to the website

.hero-section-wrapper {
  background-image: url('/themes/custom/studio_store/images/herodots.png'),
    url('/themes/custom/studio_store/images/heroright.png'),
    url('/themes/custom/studio_store/images/herocircle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 71px, 1142px, 618px;
  background-position-y: 356px, bottom, top;
  background-size: 404px 154px, 178px, 129px;
  @media (min-width: 1024px) {
    height: 608px;
  }
}
.hero-section-image {
  height: auto;
  @media (min-width: 1024px) {
    height: 512px;
  }
}
//cards help section
.card-desc > div {
  margin-top: 0;
}
#card-img0 img {
  padding: 30px;
  background-image: url('/themes/custom/studio_store/images/card1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#card-img1 img {
  padding: 30px;
  background-image: url('/themes/custom/studio_store/images/card2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#card-img2 img {
  padding: 30px;
  background-image: url('/themes/custom/studio_store/images/card3.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#card-img3 img {
  padding: 30px;
  background-image: url('/themes/custom/studio_store/images/card4.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.help-section-wrapper {
  background-image: url('/themes/custom/studio_store/images/help1.png'),
    url('/themes/custom/studio_store/images/help2.png'),
    url('/themes/custom/studio_store/images/help3.png'),
    url('/themes/custom/studio_store/images/helpdots.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1047px 619px, 178px, 120px, 405px 154px;
  background-position-y: center, 260px, 711px, bottom;
  background-position-x: right, 80px, 1095px, left;
  @media (min-width: 1024px) {
    height: 867px;
    margin-bottom: 146px;
    margin-left: 82px;
  }
}
.left-side {
  background-image: url('/themes/custom/studio_store/images/dot1.png'),
    url('/themes/custom/studio_store/images/help3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 196px 154px, 120px;
  background-position-y: top, 257px;
  background-position-x: right, left;
}
.great-since-wrapper {
  background-image: url('/themes/custom/studio_store/images/great2.png'),
    url('/themes/custom/studio_store/images/great1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 196px 154px, 120px;
  background-position-y: top, bottom;
  background-position-x: 750px, 582px;
}
