//client section styling start

.client-section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 768px) {
    justify-content: space-between;
  }
  @media (min-width: 1024px) {
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: row;
    margin-top: 128px;
    margin-bottom: 94px;
  }
}
// .client-section-wrapper__details {
//   @media (min-width: 1024px) {
//     margin-right: 120px;
//   }
// }

.client-section-wrapper__details-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.client-section-wrapper__details-body {
  width: 318px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  @media (max-width: 1024px) {
    width: 100%;
  }
}
.brand-logos-wrapper {
  display: flex;
  align-items: center;
  width: 33.33%;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-left: 8px;
  }
  @media (min-width: 1024px) {
    width: 100%;
    margin-left: 20px;
  }
}
.brand-logos-wrapper__logos {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.brand-logos-wrapper__logos-logo {
  width: 50%;
  @media (min-width: 768px) {
    width: 100%;
  }
}
.brand-logos-wrapper__logos img {
  margin-right: 20px;
  @media (min-width: 1024px) {
    margin-right: 60px;
  }
}
.brand-logos-wrapper__logos img:last-child {
  margin-right: 0px;
  margin-top: 14px;
}
//client section styling end
