//great since section styling start

.great-since-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
  }
  background-image: url('/themes/custom/studio_store/images/great2.png'),
    url('/themes/custom/studio_store/images/great1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 196px 154px, 120px;
  background-position-y: top, bottom;
  background-position-x: 750px, 582px;
}

.great-since-wrapper__details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    margin-left: 119px;
    width: 50%;
  }
}
.great-since-wrapper__details-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  @media (min-width: 1024px) {
    width: 384px;
  }
}
.great-since-wrapper__details-desc {
  margin-bottom: 40px;
  width: 100%;
  height: 104px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;

  @media (min-width: 1024px) {
    margin-bottom: 0px;
  }
}
.great-since-wrapper__details-video {
  @media (min-width: 1024px) {
    width: 550px;
    height: 372px;
  }
  video {
    width: 100%;
    height: auto;
    border-radius: 32px;
  }
}
//great since section styling end
