//great since section styling start

.great-since-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
    height: 436px;
  }
  background-image: url('/themes/custom/studio_store/images/great2.png'),
    url('/themes/custom/studio_store/images/great1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 178px, 120px;
  background-position-y: 100px, bottom;
  background-position-x: 750px, 582px;
}

.great-since-wrapper__details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  @media (min-width: 1024px) {
    margin-left: 119px;
    width: 50%;
  }
}
.great-since-wrapper__details-title {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 49px;
  color: #000000;
  @media (min-width: 1024px) {
    width: 468px;
  }
}
.great-since-wrapper__details-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
  @media (min-width: 1024px) {
    margin-bottom: 0px;
  }
}
.great-since-wrapper__details-video {
  @media (min-width: 1024px) {
    width: 550px;
  }
  video {
    width: 100%;
    height: auto;
    border-radius: 32px;
  }
}
//great since section styling end
